.container {
  inline-size: 80%;
  max-inline-size: 64em;
  margin-inline: auto;
}
.grid-container {
  display: grid;
  grid-template-columns:  1fr;
  gap: 1em;
}
.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}