
.header {
position: relative;
margin-block: 1em;
}
.brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparentize($color: #000000, $amount: 0.5);
  inline-size: 100%;
  padding: 1em;
  position: absolute;
  inset: 50% 0 0 0;
  transform: translateY(-50%);
  margin: 0 auto;
  &__logo {
    max-inline-size: 6.25em;
    min-inline-size: 1.5em;
  }

  &__title {
    color: #fff;
    font-family: 'norse', monospace;
    margin-block-end: 0;
  }
}