 /* colors */
/* primary */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 13%);
$red-light: hsl(355, 70%, 91%);
$red-dark: hsl(355, 61%, 32%);
$green-dark: hsl(152, 69%, 19%);
$green-light: hsl(153, 31%, 86%);
$green: hsl(154, 59%, 51%);
$clr-GrayishBlue: hsl(219, 100%, 97%);
$red: hsl(0, 100%, 74%);
/* accent color*/
$Blue: hsl(248, 32%, 49%);
